<%- include('../partials/header.ejs', {name: book.name + " by " + book.author}) %>
    <h1>Title: <%= book.title %></h1>
    <h2>Author: <%= book.author %></h2>
    <h2>Price: $<%= book.price %></h2>
<%- include('../partials/footer.ejs') %>