<%- include('./partials/header.ejs', {name: "Homepage"}) %>
    <h1>We're here to take some of that Bezos money!</h1>
    <% for(let i = 0; i < specials.length; i++) { %>
        <h2>Name: <%= specials[i].name %></h2>
        <h2>Price: $<%= specials[i].price %></h2>
        <h2>Description: <%= specials[i].description %></h2>
    <% } %>
<%- include('./partials/footer.ejs') %>